<!-- <div class="row">
    <div class="col-12"> -->
        <div class="modal-pos">
            <ng-content select="[background]"></ng-content>
            <!-- Modal content -->
            <div class="modal-contents">                               
                <div class="modal-header">                    
                    <ng-content select="[header]"></ng-content>
                </div>
                <div class="modal-body">
                    <ng-content select="[body]"></ng-content>
                </div>
                <div class="modal-footer">
                    <ng-content select="[footer]"></ng-content>
                </div>
            </div>
        </div>
   <!--  </div>
</div> -->