<div class="mx-n3">
    <ng-container *ngIf="isLoader">
        {{loaderMessage}}
        <mat-progress-bar mode="indeterminate" class="mb-3"></mat-progress-bar>
    </ng-container>
    <ng-container *ngIf="toDoArr.length>0">
        <div
            *ngFor="let item of toDoArr; trackBy:trackByToDoId"
            class="alert alert-info d-flex justify-content-between
            align-items-center">
            {{item.toDoData}}
            <button
                (click)="onDeleteItem(item.toDoData,item.id)"
                mat-icon-button
                color="accent">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </ng-container>
    
</div>