.modal_popup{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    overflow: hidden;
    outline: 0;
}
.loader{
    display:flex;
    align-items: center;
    justify-content: center;
}